/jmonkey/BasicGame/nbproject/private/
/jmonkey/BasicGame/build/
/jmonkey/BasicGame/dist/
/jmonkey/JmeTests/nbproject/private/
/jmonkey/JmeTests/build/
/jmonkey/JmeTests/dist/
/electricsheep*
/wxWidgets*
/data/sheep
*.gz
*.zip
